

html{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 30px;
}
form{
    background-color: #FAF0E6;
    border: 3px solid #DCDCDC;            
    margin: 20px auto;
    width: 350px;
    font-family: 'Times New Roman', Times, serif;
}
input{
    width: 100px;
}
label{
    width: 150px;
}

textarea{
    width: 100px;
}
ul{}

button {

border:none;
border-radius: 15px;
padding: 15px 25px;
font-size: 30px;
outline: none;
background-color:  #1E90FF;
color:  #FFFFFF ;
box-shadow: 0 15px  #000000  ;
cursor:pointer;

}

button:hover{

background-color:  #00BFFF ;
}


button:active{
    background-color:  #1E90FF ;
    box-shadow: 0 10px   #000000 ;
    transform: translateY(4px);
}


